.back {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 101);
  z-index: -1;
  top: 0;
}

.back > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}
.menuContain {
  display: grid;
  grid-template-columns: 35% 65%;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 10px;
}

.imageLogo {
  display: grid;
  align-items: center;
  justify-content: center;
  color: black;
}

.imageLogo img {
  width: 200px;
  height: 130px;
  object-fit: cover;
}

.imageLogo > p {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.menuItem h2 {
  font-size: 17px;
  color: gray;
  margin: 0;
}

.menuItem p {
  background-color: #e9e9e9;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
  font-size: 20px;
}

.menuItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
}

.menuContain {
  display: grid;
  grid-template-columns: 35% 65%;
  border: 2px solid #000070;
  padding: 20px;
  margin: 20px 10px;
  background-color: #ffffff;
  box-shadow: 2px 2px 4px #000070;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  gap: 100px;
}

header > button {
  font-size: 20px;
  width: 300px;
  background-color: rgb(0, 0, 66);
  height: 50px;
  font-weight: bold;
  border: 1px solid black;
  opacity: 0.8;
  transition: all 0.5;
  color: white;
}

header > button:hover {
  opacity: 1;
}
